<div id="experience-as-list">

	<div id="title"><%= experience.title %></div>

	<div id="buttons">
        <%= link_to 'Show', experience %>
        <%= link_to 'Editar', edit_experience_path(experience) %>
        <%= link_to 'Eliminar', experience, method: :delete, data: { confirm: 'Esta acción no puede deshacerse ¿Está seguro que desea eliminar este elemento?' } %>
    </div>

</div>
