<div class='photo-as-list nested-fields'>

	<%= f.file_field :file , accept: 'image/png,image/gif,image/jpeg' , :class => 'custom-file-input'%>
  <%= link_to_remove_association "X", f ,id: 'remove-photo' %>

</div>