<section id="">
  <h1>jdjsdfs</h1>
  <p>hkdjsahkdjssdfsdf</p>

<div id="experiences">

  <% @experiences.each do |exp| %>
        <div id="experience-as-list"><%= exp.title %> </div>
  <% end %>

    <!-- SPACERS -->
    <%= echo_spacers(4) %>
</div>

</section>