<div class="page-background"></div>
<div id="nav-bar">
  <div id="nav-logo-container">
    <div id="logo">
      <div class="left"></div>
      <div class="right"></div>
    </div>
  </div>
  <nav id="nav-tabs-container">
    <%= link_to("Servicios", "#") %>
    <%= link_to("Nosotros", "#") %>
    <%= link_to("Experiencia", "#", class:'selected') %>
    <%= link_to("Contacto", "#") %>
  </nav>
</div>
  
<div id="landing-main-text">
  <h1>Servicios Integrales de Ingeniería</h1>
  <h2>Civil, conceptual, de detalle, construcción, estudios y consultoría.</h2>
</div>