<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style='color:tomato'><%= @name.html_safe %></h1>
    <h2><%= @correo %></h2>
    <p><%= @msj %></p>
  </body>
</html>