<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style='color:tomato'>Mensaje de: <%= @name%></h1>
    <h2>Correo Electrónico: <%= @correo %></h2>
    <p>Mensaje:<br><%= @msj %></p>
  </body>
</html>