<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @name %></h1>
    <h1><%= @correo %></h1>
    <p>
      <%= @msj %>
    </p>
  </body>
</html>