//Global

//Frameworks
@import "compass";
@import "bourbon";
@import "animate";


//Compass default overrides
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 1px;

//Variables
$global-border-radius: 2px;

//Lalo's cut
$primary-color: #2d384d;
$secondary-color: #a3cfe1;
$blue-dark-color: #171b23;
$blue-light-color: #28499C;
$aqua-color: #42bcef;
$aqua-dark-color: #53858e;
$aqua-pale-color: #72bcc9;

$color1: $blue-dark-color;
$color2: $blue-light-color;
$color3: $aqua-color;
$color4: $aqua-dark-color;
$color5: $aqua-pale-color;
$color6: #203353;

//Adrxx's cut
$blue-hover: #4279fd;
$blue-normal: #3762c8;
$blue-selected: #304e96;
$blue-disabled: #233150;
$cyan-hover: #4bd0fe;
$cyan-normal: #4ab8fe;
$cyan-selected: #1e5c83;
$cyan-disabled: #0e485d;
$gray-hover: #fff;
$gray-normal: #dedede;
$gray-selected: #3f3f3f;
$gray-disabled: #2b2b2b;

//MEDIA QUERIES
$smartphone-width: 400px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin smartphone {
  @media (max-width: #{$smartphone-width}) 
  {
    @content;
  }
}


@mixin tablet {
  @media (max-width: #{$tablet-width}) 
  {
    @content;
  }
}


//Mixins
@mixin main-font($weight: 300, $size:19px,$style:normal)
{
  font-family: 'PT Sans', sans-serif;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}

@mixin clear-links($normal: #8794ad,$hover: #a5b4d4,$active:#70a3ae,$visited: #8794ad,$focus: #8794ad)
{
  text-decoration: none;

  @include link-colors($normal, $hover, $active, $visited, $focus);
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin no-vertical-align {
  position:relative;
  top: auto;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}


$debug-mode-enabled: false;
$debug-section: #page-section-3;

@mixin debug-mode($i)
{

  @if $debug-mode-enabled == true {
    &:hover
    {
      @include transition-duration(0.2s);
      @include transition-property(box-shadow);
      @include single-box-shadow($inset: true,$hoff: 0px, $voff: 0px,$spread:2px,$blur:10px,$color: rgba(random(155-$i)+100+$i,random(155-$i)+100+$i,random(155-$i)+$i,0.9));
          @include single-box-shadow($inset: true,$hoff: 0px, $voff: 0px,$spread:2px,$blur:20px,$color: rgba(random(256)-1,random(256)-1,random(256)-1,0.8));
    }
    
  }

}

$i:1;
@while $i < 50  {
  #{$debug-section} *:nth-child(#{$i})
  {
    @include debug-mode($i);
  }
  $i : $i +1;
}


// @mixin main-color($color:"blue",$type:"normal") {  
// }

//Global Reset
@include global-reset();
