//Global

//Frameworks
@import "compass";
@import "bourbon";
@import "animate";

//Compass default overrides
$default-box-shadow-v-offset: 1px;
$default-box-shadow-blur: 1px;

//Variables
$global-border-radius: 2px;

//Lalo's cut
$primary-color: #2d384d;
$secondary-color: #a3cfe1;
$blue-dark-color: #171b23;
$blue-light-color: #284a9b;
$aqua-color: #42bcef;
$aqua-dark-color: #53858e;
$aqua-pale-color: #72bcc9;
$color1: $blue-dark-color;
$color2: $blue-light-color;
$color3: $aqua-color;
$color4: $aqua-dark-color;
$color5: $aqua-pale-color;

//Adrxx's cut
$blue-hover: #4279fd;
$blue-normal: #3762c8;
$blue-selected: #304e96;
$blue-disabled: #233150;
$cyan-hover: #4bd0fe;
$cyan-normal: #4ab8fe;
$cyan-selected: #1e5c83;
$cyan-disabled: #0e485d;
$gray-hover: #fff;
$gray-normal: #dedede;
$gray-selected: #3f3f3f;
$gray-disabled: #2b2b2b;

//Mixins
@mixin main-font($weight: 300, $size:19px,$style:normal)
{
  font-family: "Myriad Pro", sans-serif;
  font-size: $size;
  font-weight: $weight;
  font-style: $style;
}

@mixin clear-links($normal: #8794ad,$hover: #a5b4d4,$active:#70a3ae,$visited: #8794ad,$focus: #8794ad)
{
  text-decoration: none;

  @include link-colors($normal, $hover, $active, $visited, $focus);
}

// @mixin main-color($color:"blue",$type:"normal") {  
// }

//Global Reset
@include global-reset();
