h1
{
	padding: 20px;
	@include main-font(700,2em);
	color: $gray-selected;
}


#experience-form
{
	@include border-radius($global-border-radius);
	background-color: $blue-disabled;
	@include single-box-shadow();
}



#content-wrapper
{
	position: relative;

	min-height:100%;
	min-width: 800px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

}

footer
{
	position: absolute;
	bottom: 0px;
	width: 100%;

	text-align: center;
	//background-color: blue;
}