#mini-ribbon
{
  @extend #ribbon;
  height:100px !important; 
  width:87px !important;

  @include tablet 
  {
    height: 160px !important; 
    width: 80px !important; 
  }
}

.page-experiences
{
  height: auto;
  width: 80%;
  margin: 0px auto;
  padding-top: 130px;

  @include tablet
  {
    width: 90%;
  }

  h1
  {
    @include main-font(400,40px);
    text-align:center;
    color: $aqua-pale-color;
    margin-bottom: 20px;
  }

  h2
  {
    @include main-font(400,30px);
    text-align:center;
    color: $aqua-pale-color;
    margin:20px 0px;
  }
}


#new-experience
{
  
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: white;
    text-align: center;

    @include main-font();
    border: 2px solid white;
    padding: 10px 20px;
    margin-bottom:10px;

}