// Place all the styles related to the Experiences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$list-block-width: 200px;
@import "experience_form";

#nav-bar-exp
{
  @extend #mini-nav-bar;
}


#experiences
{
	//background-color: red;
	@include display-flex();
  @include align-items(stretch);
  @include align-content(stretch);
	@include flex-flow(row);
	@include flex-wrap(wrap);
  @include justify-content(flex-start);

  width: 100%;
  height: 100%;

  @include tablet
  {
    height: auto;
  }

	.spacer
	{
  	height: 1px;
  	width: $list-block-width;
  	//margin-left: 20px;
  	@include flex-grow(1);
	}

}

.selected-section
{
  color:$aqua-pale-color !important;
}

.experience-as-list
{

	@include flex-grow(1);

	position: relative;
	//margin: 10px;
  cursor: pointer;
  text-decoration: none;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

	height: 160px;
	width: $list-block-width;

  overflow: hidden;

	background-color: #3D3D3D;

  @include transition-duration(0.5s);

  @include tablet
  {
    background-color:$aqua-dark-color;
    @include transition-duration(0.0s);
  }

  .info
  {

    position:relative;
    z-index: 2;
    @include vertical-align;

    text-align:center;
    color: white;

    opacity: 0.0;

    @include tablet
    {
      opacity: 1.0;
    }

  }

  hr
  {
    width: 50%;
    height: 2px;
    background-color:white;
    border: none;
    margin: 6px auto;
  }

  .title
  {
    @include main-font(600,22px);
    margin-bottom: 1px;
  }

  .place
  {
    @include main-font(500,20px);
  }

  .date
  {
    @include main-font(500,16px,italic);

  }

  .image
  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    @include transition-duration(.5s);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;

    @include tablet
    {
      opacity: 0.18;
    }

  }

  &:hover
  {
    background-color:$aqua-dark-color;
  }

  &:hover > .image
  {
    @include transform(scaleX(1.15) scaleY(1.15));
    opacity: .1;
  }

  &:hover > .info
  {
    opacity: 1;
  }

  &:hover > .info > .title
  {
    @extend .animated;
    @extend .fadeInDown;

    @include tablet
    {
      @include animation(none);
    }
  }

  &:hover > .info > .place
  {
    @extend .animated;
    @extend .fadeInDown;
    @include tablet
    {
      @include animation(none);
    }
  }

  &:hover > .info > hr
  {
    @extend .animated;
    @extend .zoomIn;
    @include tablet
    {
      @include animation(none);
    }
  }

  &:hover > .info > .date
  {
    @extend .animated;
    @extend .fadeInUp;
    @include tablet
    {
      @include animation(none);
    }
  }

	.buttons
	{
		position: absolute;
		background-color: transparentize($blue-disabled, 0.2);
		bottom: 0px;
    z-index: 2;
    height: 30px;
		width: 100%;

		@include display-flex();
		@include justify-content(space-around);

		a
		{
			color: $gray-normal;
			text-decoration: none; 
      padding: 7px 0px;
		}

	}

	
}


#experiences-page
{
  height: auto;

  background-image: image-url("bg.jpg"); 

  .experience-as-list
  {
    width: 300px;
    height: 200px
  }
  .spacer
  {
    width: 300px;

  }

 
  .column
  {
    padding:50px 40px;
    padding-top: 50px + $mini-nav-bar-height;
    height: 100%;
    margin: 0px 0px;
    background-color: transparentize($blue-dark-color, 0.1);

    @include tablet
    {
      padding:50px 6vw;
    }
  }

  #experiences
  {
   // margin:0px auto;
    width: 100%;
    background-color: $blue-dark-color;

  }

  h1
  {
    //display: block;
    @include main-font(500, calc( 45px + 3vw) );
    color: $aqua-pale-color;

    line-height: 59px;

    margin-bottom: 12px;
    //margin-top: 180px;
    //background-color: red;

    @include tablet
    {
      line-height: 50px;
      @include main-font(500,55px);

    }
  }  

  h2
  {
    @include main-font(500,30px,italic);
    color: white;
    @include animation-delay(0.2s);

    @include tablet
    {
      @include main-font(500,20px);
    }
    //margin-bottom: 40px;
  }

}


#page-section-show-experience
{
  position:relative;
  top: $mini-nav-bar-height;

  height: calc( 100% - #{$mini-nav-bar-height} );


  //margin-top: $mini-nav-bar-height;

  background-image: image-url("bg.jpg");


  @include tablet
  {
    height: auto;
  }

  h1
  {
    display: block;
    @include main-font(600, calc( 14px + 3vw) );
    color: white;
    text-align: center;

    line-height: 45px;

    margin-bottom: 14px;
    margin-top: 28px;
    //background-color: red;

    @include tablet
    {
      line-height: 50px;
      @include main-font(500,40px);
    }

    &:after
    {
      display: block;
      content: "";
      height: 2px;
      width: 80%;
      margin-top:13px;
      margin-bottom: 14px;
      margin-left: auto;
      margin-right: auto;
      background-color: transparentize($aqua-pale-color, 0.5);
    }

  }  

  h2
  {
    display: block;
    text-align: center;
    @include main-font(500,20px,italic);
    color: white;
    @include animation-delay(0.2s);

    @include tablet
    {
      @include main-font(500,20px);
    }
    //margin-bottom: 40px;
  }

  h3
  {
    display: block;
    text-align: center;
    @include main-font(500,18px,italic);
    color: $aqua-pale-color;
    padding-top: 30px;


  }

  p
  {
    color: white;
    text-align: justify;
    padding: 0px 40px;
    height: 230px;
    overflow-y: scroll;
    line-height: 21px;
    margin-top: 30px;

    @include main-font(500,16px);

    @include tablet
    {
      height: auto;
      padding: 0px 16px;

    }

  }

  #all-experience-button
  {

    display: block;
    text-decoration: none;
    color: white;
    text-align: center;

    @include main-font();
    border: 2px solid white;
    padding:10px 20px;
    margin: 10px auto;
    margin-top: 30px;

    width: 200px;

    @include tablet
    {
      display: none;
    }

    &:before
    {
      display: inline-block;
      margin-right: 8px;
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 6px 5px 0;
      border-color: transparent white transparent transparent;
    }

  }


  .left-column
  {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;

    background-color: transparentize($blue-dark-color, 0.1);

    .content
    {
      width: 90%;
      @include tablet
      {
        width: 100%;
        padding-bottom: 25px;
      }
    }

    @include tablet
    {
      position: relative;
      width: 100%;
      height: auto;
    }

  }


  .right-column
  {
    position: absolute;
    width: 50%;
    right: 0px;
    height: 100%;

    background-color: $blue-dark-color;

    @include tablet
    {
      position: relative;
      width: 100%;
      height: 150vw;
      box-sizing: border-box;
      padding: 30px;
          background-color: transparentize($blue-dark-color, 0.1);

    }

    @include smartphone
    {
      padding: 10px;
      height: 370px;

    }
    
    .iframe-container
    {
      box-sizing:border-box;
      border: 4px solid $blue-dark-color;
      *:not(iframe)
      {
        display: none;
      }

      @include tablet
      {
        padding-bottom: 20px;
      }

      @include smartphone
      {
        display: none;
      }
    }

    iframe
    {
      display: block;
      height: 100% !important;
      width: 100% !important;
    }

    .swiper-container {
        width: 100%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background-size: cover;
        background-position: center;
    }
    .gallery-top {
        //height: 45%;
        width: 100%;

    }
    .gallery-thumbs {
        height: 15%;
        box-sizing: border-box;
        padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }

    //background-image: image-url("bg.jpg");

    h1
    {
      text-align: right;
    }

  }
}



