// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Global to all page-sections
[id^="page-section"]
{
  position:relative;
  height: 100%;
  width: 100%;
  background-color:$color1;

  .page-color-overlay
  {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .page-image-background
  {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
  }

  .content
  {
    width: 80%;


    margin-left: auto;
    margin-right: auto;

     @include animation-duration(1s);
    @include animation-delay(0.2s);
    //background-color:tomato;
  }

}

$nav-bar-height: 90px;
$mini-nav-bar-height: 60px;

#nav-bar
{
  position:fixed;
  z-index: 10;
  width:100%;
  height: $nav-bar-height;

  //@include transition();
  @include transition-duration(0.5s);

  //background-color: red;
}

#mini-nav-bar
{
  @extend #nav-bar;
  height: $mini-nav-bar-height;
  background-color: transparentize(white, 0.0);

}

$logo-container-height: 180px;
$logo-container-width: 130px;

#nav-logo-container
{
  float: left;

  width: 25%;
  height: $logo-container-height;

  $logo-flag-size: 15px;
  //background-color: blue;

  #ribbon
  {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
   
    //background-color:red;

    height: $logo-container-height;
    width: $logo-container-width;

    @include transition-duration(0.5s);

    svg 
    {
       height: 100%;
       width: 100%;
       fill: white;
    }

  }

  #logo
  {
    position: absolute;
    z-index: 1;

    height: 100%;
    width: 100%;

    background-image: image-url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 68%;
  }

   .scrolled
  {
    //display: none;
    height: $mini-nav-bar-height !important;

  }

}

#nav-tabs-container
{
  float: left;

  width: 70%;
  height: 100%;

  @include display-flex();
  @include align-items(center);
  //@include align-content(space-around);
  @include flex-flow(row);
  @include flex-wrap(wrap);
  @include justify-content(flex-end);
  //background-color:tomato;
  a
  {
    margin: 18px;

    @include clear-links();
    @include main-font(300,20px,italic);
    //background-color: white;
  }
  .selected
  {
    color: $color5 !important;
    // border-bottom: solid 1px $secondary-color;
  }
}


#page-section-1
{

  .page-color-overlay
  {
    background-color: transparentize($color1, 0.1);
  }

  .page-image-background
  {
    background-image: image-url("bg.jpg"); 
    background-size: 150% 150%;
  }

  h1
  {
    float: right;
    clear: both;

    max-width: 700px;
    margin-top: 260px;
    margin-right: 80px;
    margin-left: 80px;

    text-align: right;
    text-transform: uppercase;

    color: white;


    @include main-font(500,70px);


    //background-color: white;
  }

  h2
  {
    float: right;
    clear: both;

    max-width: 500px;
    margin-top: 5px;
    margin-right: 80px;
    margin-left: 80px;

    text-align: right;

    color: $aqua-pale-color;

    @include animation-delay(0.4s);
    @include animation-duration(1s);

    @include main-font(300,23px,italic);
    

  }

  #left-triangle
  {
    //display: none;
    position: absolute;
    bottom: 0px;
    left:0px;
    height: 70px;
    width: 50%;

    polygon
    {
      fill: $color2;
    } 

  }

  #right-triangle
  {
    //display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 70px;
    width: 50%;

    polygon
    {
      fill: $color6;
    }

  }

  $arrow-size: 80px;
  #arrow
  {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -$arrow-size/2;
    height: $arrow-size;
    width: $arrow-size;
    
    polyline
    {
      fill: none;
      stroke: transparentize(white, 0.3);
      stroke-width: 0.4;
    }
  }
  
}

#poly-background
{
  position:absolute;
  z-index: 0;
  height: 113%;
  width: 100%;
  bottom:0px;


  .left
  {
    fill: transparentize($color2, 0.05);
  }

  .right
  {
    fill: transparentize($color6, 0.05);
  }
  //opacity: 0.4;
}

#page-section-2
{

  height: calc( 100% - #{$mini-nav-bar-height} );

  h1
  {
    //display: block;
    @include main-font(500,50px);
    color: white;
    
    margin-top: 40px;
    margin-bottom: 40px;


    span
    {
       color: $aqua-pale-color;
    }

    //background-color: red;
  }

  
  .animated-image
  {

    //display: none;
    margin-right: auto;
    margin-left: auto;

    margin-bottom: 40px;

    height: 150px;
    width: 400px;
    //background-color: white;
  }

  p
  {
    //display: block;
    @include main-font(400,25px,italic);

    margin-bottom: 20px;
    color: white;
    //background-color: red;
  }

  .left-column
  {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;

    .color-overlay
    {
      position: absolute;
      height: 100%;
      width:100%;

      background-color: transparentize($color2, 0.1);
    }

    p
    {
      text-align: right;
    }

  }


  .right-column
  {
    position: absolute;
    width: 50%;
    right: 0px;
    height: 100%;
    

    h1
    {
      text-align: right;
    }

    .color-overlay
    {
      position: absolute;
      height: 100%;
      width:100%;

      background-color: transparentize($color6, 0.1);
    }

 

  }

}

#page-section-3
{
  height: calc( 100% - #{$mini-nav-bar-height} );

  .content
  {
    @include vertical-align();
    //background-color: red;
  }

  h1
  {
    //display: block;
    @include main-font(500,80px);
    color: $aqua-pale-color;

    //margin-bottom: 40px;
    //margin-top: 180px;

    //background-color: red;
  }  

  h2
  {
    @include main-font(500,30px,italic);
    color: white;
    @include animation-delay(0.2s);

    //margin-bottom: 40px;
  }

  .left-column
  {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;

    background-image: image-url("bg.jpg");

    .color-overlay
    {
      position: absolute;
      height: 100%;
      width:100%;

      background-color: transparentize($color1, 0.1);
    }

  }


  .right-column
  {
    position: absolute;
    width: 50%;
    right: 0px;
    height: 100%;
    
    //background-image: image-url("bg.jpg");

    h1
    {
      text-align: right;
    }

    .color-overlay
    {
      position: absolute;
      height: 100%;
      width:100%;

      background-color: transparentize($color2, 0.1);
    }
  }
}

#projects
{
  width: 100%;
  height: 100%;
}

.recent-experience
{
  position: relative;

    -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  float: left;
  width: 50%;
  height: 33%;
  background-color: $color1;
  overflow: hidden;

  @include transition-duration(0.5s);

  &:nth-child(n+5)
  {
    height: 34%;
  }

  .info
  {
    position:relative;
    z-index: 2;
    @include vertical-align;

    text-align:center;
    //background-color: red;
    color: white;
  }

  hr
  {
    width: 50%;
    height: 2px;
    background-color:white;
    border: none;
  }

  .title
  {
    @include main-font(600,25px);
    margin-bottom: 5px;
  }

  .place
  {
    @include main-font(500,22px);
  }

  .date
  {
    @include main-font(500,18px,italic);

  }

  img
  {
    position: absolute;
    top: -25%;
    left: -25%;
    z-index: 0;
    height: 150%;
    opacity: .2;
    @include transition-duration(.5s);

  }

  &:hover
  {
    background-color:$aqua-dark-color;
  }

  &:hover > img
  {
    opacity: .1;
  }

}

