// Place all the styles related to the Statics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//Global to all page-sections
[id^="page-section"]
{
  position:relative;
  height: 100%;
  width: 100%;
  min-height: 600px;


  @include tablet
  {
    min-height: initial;
    overflow-y: hidden;
    overflow-x: hidden;

  }


  background-color:$color1;

  .page-color-overlay
  {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .page-image-background
  {
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
  }

  .content
  {

    width: 80%;

    margin-left: auto;
    margin-right: auto;

    @include animation-duration(1s);
    @include animation-delay(0.2s);

    @include tablet
    {
      width: 88%;
    };
    //background-color:tomato;
  } 

}

$nav-bar-height: 90px;
$mini-nav-bar-height: 60px;

#nav-bar
{
  position:fixed;
  z-index: 10;
  width:100%;
  height: $nav-bar-height;

  //@include transition();
  @include transition-duration(0.5s);

  @include tablet
  {
    display: none;
  }
    
  //background-color: red;
}

#mini-nav-bar
{
  @extend #nav-bar;
  height: $mini-nav-bar-height;
  background-color: transparentize($color1, 0.04);
  @include tablet
  {
      display: none;
  }
}

$logo-container-height: 220px;
$logo-container-width: 170px;

#nav-logo-container
{

  position:absolute;
  //float: left;
  z-index: 11;

  width: 90px;
  left: 5%;
  height: $logo-container-height;


@include tablet
    {
      left: 0%;

    }
  $logo-flag-size: 15px;

  //background-color: blue;

  #ribbon
  {
    position: relative;
    z-index: 1;
    display: block;
    margin-right: auto;
    margin-left: auto;

    //background-color:red;

    height: $logo-container-height;
    width: $logo-container-width;

    @include tablet
    {
      height: 180px;
      width: 100px;
      @include transform( rotateZ(-90deg) );

    }

    @include smartphone
    {
      height: 160px;
      width: 86px;
    }

    @include transition-duration(0.5s);

    svg 
    {
       height: 100%;
       width: 100%;
       fill: white;
    }

  }

  #logo
  {
    position: absolute;
    z-index: 1;

    height: 100%;
    width: 100%;

    background-image: image-url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 68%;

    @include tablet
    {
      background-position: right;
      background-size: 68% auto;
      @include transform( rotateZ(90deg) );
    }

  }



}

#nav-tabs-container
{
  //float: right;
  position:absolute;

  width: 100%;
  height: 100%;
  right: 0px;
  top: 0px;
  margin-right: 40px;

  @include display-flex();
  @include align-items(center);
  //@include align-content(space-around);
  @include flex-flow(row);
  @include flex-wrap(wrap);
  @include justify-content(flex-end);

  @include transition-duration(0.5s);
  //background-color:tomato;
  a
  {
    margin: 18px;

    @include clear-links();
    @include main-font(300,20px,italic);
    //background-color: white;
  }
  .selected
  {
    color: $color5 !important;
    // border-bottom: solid 1px $secondary-color;
  }

}


#page-section-1
{

  @include tablet
  {
    max-height: 650px;
  }
  
  .page-color-overlay
  {
    background-color: transparentize($color1, 0.1);
    height: 113%;

  }

  .page-image-background
  {
    height: 113%;
    background-image: image-url("bg.jpg"); 
    background-position: 0px 0px;
    background-size: 100% 180%;
  }

  .centered
  {
    @include clearfix;
    @include vertical-align;
    top:46%;
  }

  h1
  {
    float: right;
    clear: both;

    max-width: 730px;
    //margin-top: 260px;
    margin-right: 80px;
    margin-left: 80px;

    text-align: right;
    text-transform: uppercase;

    color: white;


    @include main-font(500,70px);

    @include animation-delay(0.7s);

    @include tablet
    {
      @include main-font(500,calc( 34px + 1.5vw ));
      margin-right: 10vw;
    }

    @include smartphone
    {
      @include main-font(500, calc( 27px + 1.5vw ));
    }

    //background-color: white;
  }

  h2
  {
    float: right;
    clear: both;

    max-width: 500px;
    margin-top: 5px;
    margin-right: 80px;
    margin-left: 80px;
    //margin-bottom: 90px;

    text-align: right;

    color: $aqua-pale-color;

    @include animation-delay(1.3rs);

    @include animation-duration(1s);

    @include main-font(300,23px,italic);

    @include tablet
    {
      @include main-font(500,calc( 12px + 1.5vw ));
      margin-right: 10vw;
    }
    

  }

  #left-triangle
  {
    //display: none;
    position: absolute;
    bottom: 0px;
    left:0px;
    height: 70px;
    width: 50%;

    polygon
    {
      fill: $color2;
    } 

  }

  #right-triangle
  {
    //display: none;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 70px;
    width: 50%;

    polygon
    {
      fill: $color6;
    }

  }

  $arrow-size: 80px;
  #arrow
  {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -$arrow-size/2;
    height: $arrow-size;
    width: $arrow-size;
    
    polyline
    {
      fill: none;
      stroke: transparentize(white, 0.3);
      stroke-width: 0.4;
    }
  }
  
}

.poly-background
{
  position:absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  bottom:0px;

  @include tablet
  {
      display: none;
  }

  .left
  {
    fill: transparentize($color2, 0.05);
  }

  .right
  {
    fill: transparentize($color6, 0.05);
  }
}

#page-section-2
{

  $tablet-min-height-section: 690px;
  $smartphone-min-height-section: 660px;

  position:relative;
  background-color: transparent;

  height: calc( 100% + #{$mini-nav-bar-height} );

  @include tablet
  {
    min-height: $tablet-min-height-section*2;

    .animated
    {
       @include animation-duration(0s);
    }

  }

  @include smartphone
  {
    min-height: $smartphone-min-height-section*2;
  }

  span
  {
     color: $aqua-pale-color;
  }

  .content
  {
    //margin-top: 130px;
    @include vertical-align();

    height: auto;


    @include tablet
    {
      height: auto;
      position: relative;
    }
  }

  h1
  {
    position: relative;
    display: block;
    //top: 0px;
    @include main-font(500, calc( 35px + 1.5vw ) );
    color: white;

    //margin-top: 0px;
    margin-bottom: 40px;

    @include tablet
    {
      position: static;
      //width: 100%;
      @include main-font(500, calc( 38px + 1.5vw ) );

      margin-top: 0px;

      margin-left: auto;
      margin-right: auto;
      margin-bottom: 84px;
    }

    @include smartphone
    {
      @include main-font(500, calc( 34px + 1.5vw ) );
      margin-bottom: 35px;

    }

    // &:after
    // {
    //   display: block;
    //   content: "";
    //   height: 2px;
    //   width: 100%;
    //   margin-top:13px;
    //   margin-bottom: 14px;
    //   margin-left: auto;
    //   margin-right: auto;
    //   background-color: transparentize(white, 0.5);

    // }
  }

  
  .animated-image
  {
    //@include vertical-align;
    //display: none;
    margin-right: auto;
    margin-left: auto;

    //margin-bottom: 20px;

    height: 200px;
    //width: 400px;
    background-image: image-url("puente.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.8;

    @include tablet
    {
      @include no-vertical-align;
    }
    //background-color: tomato;
  }

  p
  {

    position: relative;
    display: block;
    bottom:0px;

    @include main-font(400,20px,italic);

    margin-bottom: 20px;
    color: white;

    @include tablet
    {
      position: static;
      @include main-font(400,19px,italic);
      line-height: 22px;
      margin-bottom: 10px;
    }

    @include smartphone
    {
      @include main-font(400,calc( 13px + 1vw),italic);
    }
    //background-color: red;
  }

  .left-column
  {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;


    @include tablet
    {
      position: relative;
      width: 100%;
      min-height: $tablet-min-height-section;
      height: 50%;
      background-color: $color2;
    }

    @include smartphone
    {
      min-height: $smartphone-min-height-section;
    }


    p
    {
      text-align: right;
    }

  }


  .right-column
  {
    position: absolute;
    width: 50%;
    right: 0px;
    height: 100%;

    @include tablet
    {
      position: relative;
      width: 100%;
      min-height: $tablet-min-height-section;
      height: 50%;

      background-color: $color6;

      p
      {
        text-align: left;
      }

    }

    h1
    {
      margin-top: 20px;
      text-align: right;

      @include tablet
      {
        margin-top: 0px;
        text-align: left;

      }

    }

    .animated-image
    {
      margin: 56px 0px;
    }

 

  }

}

#page-section-3
{

  height: calc( 100% - #{$mini-nav-bar-height} );

  @include tablet
  {
    height: auto;
  }


  .page-image-background
  {
    height: 113%;
    background-image: image-url("bg.jpg"); 
    background-position: 0px 0px;
    background-size: 100% 180%;

    opacity: 0.04;
  }

  .poly-background
  {
    fill: transparentize(white, 0.93);
    @include tablet
    {
      display: none;
    }
  }

  .centered
  {
    @include vertical-align;

    @include tablet
    {
      @include no-vertical-align;
    }
  }

  #us
  {
    position:relative;
    z-index: 1;

    height: 30%;

    @include tablet
    {
      height: auto;
      padding: 40px 0px;
    }


    h1
    {
      //margin-top: 30px;
      margin-left: auto;
      margin-right: 40px;
      @include main-font(500,67px); 
      color: $aqua-pale-color;

      width: 40%;
      text-align: right;

      @include tablet
      {
        margin-left: 0px;
        margin-right: 0px;
        @include main-font(400,46px); 
        width: auto;
        text-align: center;
      }

    }

    p
    {
      margin-left: auto;
      margin-right: 40px;

      @include main-font(400,20px);
      color: white;
      width: 750px;
      text-align: right;
      line-height: 1.1em;

      @include tablet
      {
        margin-left: 0px;
        margin-right: 0px;
        @include main-font(400,19px); 

        padding: 7px 5vw;
        width: auto;
        text-align: center;

        br
        {
          display: none;
        }

      }

      @include smartphone
      {
        @include main-font(400,18px);
      }


    }
  }

  %mision-vision
  {

    position:relative;
    z-index: 3;

    width: 50%;
    height: 40%;

    @include tablet
    {
      display: block;
      height: auto;
      width: 100%;
      float: none !important;
      background-color: transparentize(white, 0.85);
      padding-top: 40px;

      &:after
      {
        display: block;
        content: "";
        height: 2px;
        width: 80%;
        margin-top:40px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: transparentize($aqua-pale-color, 0.3);

      }


    }

    .centered
    {
      position: absolute;
      top:60%;

      @include tablet
      {
        @include no-vertical-align;
      }

    }

    h2
    {
      margin-top: 5%;
      @include main-font(500,30px);
      color: white;
      text-align: center;

       @include tablet
      {
        margin-top: 0px;
        margin-bottom:14px;
      }


      &:after
      {
        display: block;
        content: "";
        height: 2px;
        width: 20%;
        margin-top:3px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        background-color: transparentize($aqua-pale-color, 0.3);


        @include tablet
        {
          display: none;
        }

      }

    }

    p
    {
      @include main-font(400,18px,italic);
      color: white;
      padding: 0px 6vw;
      line-height: 1.4em;
      text-align: justify;

      @include smartphone
      {
        font-size: 16px;
      }
      //text-align-last: left;
    }
  }

  #mision
  {
    float: left;
    @extend %mision-vision;
  }
  
  #vision
  {

    float: right;
    @extend %mision-vision;

  }

  #values
  { 

    clear:both;
    height: 30%;

    @include tablet
    {
      height: auto;
      padding:40px 0px;
            background-color: transparentize(white, 0.85);


    }

    &:before
    {
      display: block;
      content: "";
      height: 1px;
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      background-color: transparentize($aqua-pale-color, 0.4);

      @include tablet
      {
        display: none;
      }

    }

    h2
    {
      @include main-font(500,30px); 
      color: white;
      text-align: center;
      margin-bottom: 20px;


      @include tablet
      {
        margin-bottom: 14px;
      }

      &:after
      {
        display: block;
        content: "";
        height: 2px;
        width: 12%;
        margin-top:3px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        background-color: transparentize($aqua-pale-color, 0.4);

        @include tablet
        {
          display: none;
        }

      }
    }

    p
    {
      @include main-font(400,20px,italic);
      color: white;
      padding: 0px 80px;
      text-align: center;
      line-height: 1.5em;

      @include tablet
      {
        @include main-font(400,17px,italic);
        padding: 0px 6vw;
        line-height: 1.4em;

      }
    }

    span:after
    {
      $span-decoration-size:4px;
      content: "";
      display: inline-block;
      margin:10px;
      margin-bottom: 4px;
      height: $span-decoration-size;
      width: $span-decoration-size;
      background-color: white;
      @include border-radius($span-decoration-size/2);
    }

    span:last-child:after
    {
      display: none;
    }
  }

}

#page-section-4
{

  height: calc( 100% - #{$mini-nav-bar-height} );

  @include tablet
  {
    height: auto;
  }

  .experience-as-list
  {

    height: 34%;
    width: 50%;

    @include tablet
    {
      height: 200px;
      width: 50%;
    }
    @include smartphone
    {
      height: 160px;
      width: 100%;

      &:nth-child(n+4)
      {
        display: none;
      }
    }
  }

  .content
  {
    @include vertical-align();

    @include tablet
    {
       @include no-vertical-align;
       padding: 45px 0px;
       //padding-bottom:20px;
    }

  }

  h1
  {
    //display: block;
    @include main-font(500, calc( 45px + 3vw) );
    color: $aqua-pale-color;

    line-height: 59px;

    margin-bottom: 12px;
    //margin-top: 180px;
    //background-color: red;

    @include tablet
    {
      line-height: 50px;
      @include main-font(500,55px);

    }
  }  

  h2
  {
    @include main-font(500,30px,italic);
    color: white;
    @include animation-delay(0.2s);

    @include tablet
    {
      @include main-font(500,20px);
    }
    //margin-bottom: 40px;
  }

  #all-experience-button
  {
    display: inline-block;
    text-decoration: none;
    color: white;
    @include main-font();
    border: 2px solid white;
    padding:10px 20px;
    margin: 10px 0px;

    @include tablet
    {
      display: none;
    }
  }

  #all-experience-button-mobile
  {
    @extend #all-experience-button;

    display: none;

    @include tablet
    {
      display: block;
      margin:0px;
      padding:20px 70px;
      @include main-font(600,20px);
      //text-decoration: underline;
      background-color: $aqua-pale-color;
      border:none;
      text-align: center;

      &:after
      {
        display: inline-block;
        margin-left: 5px;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 6px;
        border-color: transparent transparent transparent white;
      }
    }

  }

  .left-column
  {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0px;

    @include tablet
    {
       position: relative;
        width: 100%;
        height: auto;
        //background-color: $color2;
    }

    background-image: image-url("bg.jpg");

    .color-overlay
    {
      position: absolute;
      height: 100%;
      width:100%;

      background-color: transparentize($color1, 0.1);

      @include tablet
      {
        position: relative;
        height: auto;
      }
    }

  }


  .right-column
  {
    position: absolute;
    width: 50%;
    right: 0px;
    height: 100%;

    @include tablet
    {
       position: relative;
        width: 100%;
        height: auto;
        //background-color: $color2;
    }
    
    //background-image: image-url("bg.jpg");

    h1
    {
      text-align: right;
    }

    .color-overlay
    {
      position: absolute;
      height: 100%;
      width:100%;

      background-color: transparentize($color2, 0.1);

      @include tablet
      {
        position: relative;
        height: auto;
      }


    }
  }
}


$contact-form-width: 350px;
#page-section-5
{

  height: calc( 100% - #{$mini-nav-bar-height} );

  @include tablet
  {
    height: auto;
  }

  .page-image-background
  {
    height: 100%;
    background-image: image-url("bg.jpg"); 
    background-position: 0px 0px;
    background-size: 100% 180%;
    z-index: 0;
    
    opacity: 0.04;
  }

  #contact-info
  {

    position:relative;
    z-index: 1;

    height: 100%;
    width: calc( 100% - #{$contact-form-width} );


    @include tablet
    {
      height: auto;
      width: 100%;
      
      iframe
      {
        display: block;
      }
    }

    .centered
    {
      @include vertical-align;

      @include tablet
      {
        height: auto;
        @include no-vertical-align;

        padding: 80px 0px;
      }
    }



    h1
    {
      @include main-font(500,65px);
      padding-bottom:30px;
      color: $aqua-pale-color;
    }

    p
    {
      @include main-font(400,20px);
      color: white;
    }

    span
    {
      color: $aqua-pale-color;
    }

    iframe
    {
      margin-top: 50px;
      height: 280px;
      width: 90%;
      margin-right: auto;
      margin-left: auto;


    }

  }

  #contact-panel
  {
    position:absolute;

    z-index: 1;
    right: 0px;
    top: 0px;
    height: 100%;
    width: $contact-form-width;
    background-color:transparentize($aqua-pale-color, 0.5);

    @include tablet
    {
      position:relative;
      height: auto;
      width: 100%;

    }

    .centered
    {
      height: 80%;
      @include vertical-align;

      @include tablet
      {
        height: auto;
        @include no-vertical-align;

        padding: 49px 0px;
      }
    }


    form
    {
      position:relative;
      height: 68%;
    }

    .contact-text
    {
      display: block;
      width: 80%;
      //height: 80;
      margin: 10px auto;
      padding: 10px 20px;
      padding-top: 12px;
      
      @include main-font(400,20px);
      border: none;
      background-color: transparentize($aqua-dark-color, 0.0);
      -webkit-appearance: none;
      color: white;
      //@include input-style();

      @include input-placeholder 
      {
        color: transparentize(white, 0.55);
        font-style: italic;
      }
    }

    .contact-text-area
    {
      @extend .contact-text;
      height: 70%;
    }
    
    .submit
    {
      display: block;
      border: none;
      padding: 10px 20px;

      border: 2px solid white;

      color: white;
      width: 91%;
      background-color: transparent;
      margin: auto;

      @include main-font(400,20px);

      @include tablet
      {
        width: auto;
        padding: 10px 70px;
        margin-top: 20px;
      }

    }

    h2
    {
      text-align: center;
      color:white;
      margin:0px 30px;
      margin-bottom:30px;
      @include main-font(400,34px);
    }

  }

}
